
body{
  width:100vw;
  height: 100vh;
  background-color: rgb(41, 40, 40);
  color:white;
}

.container{
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
row-gap:30px;
}

.grid{
  display: grid;
  grid-template-columns: repeat(3, 80px);  
  height:200px;
  justify-content: center;
  /* margin-bottom:200px; */
}

.cell{
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  cursor: pointer;
}
h2{
  margin-top:50px;
}

.restart{
  background: #000;
  border:2px dashed cornflowerblue;
  padding: 10px 15px;
  color:cornflowerblue;
  font-size: 20px;
  border-radius: 4px;
  transition: background-color 0.10s;
}

.restart:active{
  background-color: rgba(17, 17, 17, 0.829);
  transition: background-color 0.10s;
}

.ttt{
  margin-bottom: 0;
}

.zoom-in{
  color:rgba(245, 245, 245, 0.315);
  animation: zoom-in 2s ease-out;
}

@keyframes zoom-in{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(5);
  }
  100%{
    transform: scale(3);
  }
}